<%- include('partials/header') -%>
    <div class="hero min-h-screen bg-base-200 bg-primary">
        <div class="hero-content flex-col lg:flex-row-reverse ">
          <div class="text-center lg:text-left bg-primary">
            <img src="/imgs/logo.svg" class="h-32 mx-auto">
            <h1 class="text-white text-3xl font-bold leading-relaxed p-12">Track where you get the best deals on your favorite products.</h1>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
            <div class="card-body">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" class="input input-bordered" />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="text" placeholder="password" class="input input-bordered" />
                <label class="label">
                  <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                </label>
              </div>
              <div class="form-control mt-6">
                <a href="/login" class="btn bg-primary mb-3"> Login</a>
                <a href="/signup" class="btn bg-primary mb-3"> Sign up</a>
                <div class="flex flex-col w-full border-opacity-50">
                    <div class="divider">OR</div>
                    <div class="grid h-12 card bg-base-300 rounded-box place-items-center mb-3">Try with no sign up using a guest account</div>
                </div>
                <a href="/login" class="btn bg-primary">Guest Account</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>